.App {
  text-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.bfi-logo {
  height: 50px;
  width: auto;
  display: block;
  margin: auto;
}

.filter-form {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
}

.type-filter,
.author-filter {
  padding-bottom: 12px;
}

.filter-submit-button {
  width: 100%;
  height: 58px;
  font-weight: 600;
  font-family: "Source Sans Pro", sans-serif;
}

@media screen and (min-width: 600px) {
  .type-filter {
    padding-left: 8px;
  }
  .author-filter {
    padding-right: 12px;
  }
}

@media screen and (min-width: 900px) {
  .type-filter {
    padding-left: 8px;
  }
  .filter-submit {
    padding-left: 16px;
  }
  .type-filter-input,
  .author-filter-input {
    width: 80%;
  }
  .filter-submit-button {
    width: auto;
    padding: 0 30px;
  }
}

.article-author {
  text-align: right;
}

.article-metadata {
  display: flex;
  padding-bottom: 10px;
  justify-content: space-between;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
